/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  font-family: 'Poppins', sans-serif;
}

:root {
  --ifm-color-primary: #0191ff;
  --ifm-color-primary-dark: #0083e6;
  --ifm-color-primary-darker: #007bda;
  --ifm-color-primary-darkest: #0066b3;
  --ifm-color-primary-light: #1b9cff;
  --ifm-color-primary-lighter: #27a2ff;
  --ifm-color-primary-lightest: #4eb2ff;
  --ifm-background-color: #f1f5fa;
  --hard: #94A3B8;
  --carbon: #242528;

}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #0191ff;
  --ifm-color-primary-dark: #0083e6;
  --ifm-color-primary-darker: #007bda;
  --ifm-color-primary-darkest: #0066b3;
  --ifm-color-primary-light: #1b9cff;
  --ifm-color-primary-lighter: #27a2ff;
  --ifm-color-primary-lightest: #4eb2ff;
  --ifm-background-color: #202938;
  --carbon: #F1F5F9;
  --hard: #94A3B8;
}

.label_title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.theme-doc-markdown header {
  display: none;
}

.gap--crest{
  gap: 10px;
}

img{
  border-radius: 8px;
}

html { scroll-behavior: smooth; }

.req{
  font-size: .813rem;
  background-color: #fe9800de;
  color: #f1f5fa;
  padding: 0.5em;
  border-radius: 6px;
}
.opt{
  font-size: .813rem;
  background-color: #8b90bbde;
  color: #f1f5fa;
  padding: 0.5em;
  border-radius: 6px;
}

.hide-sidebar {
  display: none;
}

.v2{
  a{
    color: #63720d;
    background-image: linear-gradient(45deg, #44CA9F , #0191FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  }

}

.title{
  display: flex;
  align-items: center;
  gap: 10px;
  h3, h4{
    margin: 0;
  }
}

.col-next1, .col-next2, .col-next3, .col-next4{
  border-radius: 8px;
  padding: 10px;
  min-height: 367px;
  border-radius: 10px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.col-next1{
  background-image: url(/static/img/relece/200/p1.png);
  background-position: right;
}
.col-next2{
  background-image: url(/static/img/relece/200/p2.png);
}
.col-next3{
  background-image: url(/static/img/relece/200/p3.png);
  background-position: bottom;
}
.col-next4{
  background-image: url(/static/img/relece/200/p4.png);
  background-position: bottom;
}

.grin{
  backdrop-filter: blur(40px);
  padding: 10px;
  background-color: rgba(var(--ifm-background-color), 0.9);
  border-radius: 8px;
  min-height: 200px;
  max-width: 200px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}