.banner-special{
  background: url(/img/relece/200/top.png);
  background-size: cover;
  border-radius: 8px;
  padding: 100px 30px;
  display: flex;
  align-items: center;
  gap: 30px;
  .imagensiude{
    width: 500px;
    height: auto;
  }
  h2{
    color: var(--Carbon);
    font-size: 48px;
    font-weight: 800;
  }
  p{
    color: var(--Carbon);
    font-size: 24px;
    font-weight: 600;
  }
  h3{
    color: #63720d;
    background-image: linear-gradient(45deg, #44CA9F , #0191FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  }
  
}


.btn{
  background-color: var(--ifm-color-primary);
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

[data-theme='dark'] {
  .banner-special{
  background: url(/img/relece/200/topdark.png);
  background-size: cover;
  }
}